// gitignore for Go lang
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, build with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# Go workspace file
.vscode/settings.json
{
    "go.useLanguageServer": true,
    "go.toolsEnvVars": {
        "GO111MODULE": "on"
    }
}